body {
    margin: 0 auto;
    max-width: 700px;
    min-width: 0;
    padding: 0 10px 25px;
    font-family: "Helvetica", "Arial", sans-serif;
  }

body {
  display: grid; /* this element is specifying a grid layout for its children */
  row-gap: 5px; /* have some space between the rows */ 
  /* we have two columns, and we want to determine their widths automatically  */
  grid-template-columns: auto auto; 
  /* we have two rows, where the first row 
  (containing the header and navigation bar) has a height of 60 pixe;s, 
  and the second row is sized automatically based on the content */
  grid-template-rows: 60px auto;
  /* assign names to the areas.
  We have header in the top left, nav in the top right,
  and ct everywhere else (spanning both columns).
  The names can be whatever you like. */
  grid-template-areas:
    "header nav"
    "ct ct"
}

/* We make header to be justified to the left 
and the navigation bar to be justified the right.
Note that the `align-self: end` means that, within the grid row, 
we want to be placed as late as possible.
This is important since the row has height 60 pixels, 
and without this argument, our header and navigation bar would be placed 
adjacent to the top of the screen!
Finally, we add a border above the `<article>` element 
`border-top: 2px solid gray` to visually separate our header
and navigation bar from the rest of the content.*/

header {
grid-area: header;
justify-self: left;
align-self: end;
}
nav {
grid-area: nav;
justify-self: right;
align-self: end;
}
nav a {
text-align: right;
}
article {
grid-area: ct;
border-top: 2px solid gray;
}

/* We can use media queries. 
This is CSS which is applied only when the query is satified:
in this situation, we want these rules when the screen is narrow 
(less than 430 pixels wide) */ 

@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
    "header"
    "nav"
    "ct"
  }
  header, nav {
    text-align: center;
    justify-self: center;
  }
  nav a {
    margin: 0 10px;
  }
}


h2 {
margin-top: 1em;
padding-top: 1em;
}
nav a {
margin-left: 20px;
}

body {
color: #444;
}
h1, h2, strong {
color: #222;
}

header {
margin: 0px;
font-size: 23px;
}
article {
font-size: 16px;
}
nav {
font-size: 18px;
letter-spacing: 1px;
}
h1 {
font-size: 26px;
}
h2 {
font-size: 23px;
}

a {
color: #ffa64d;
}